
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-1-element-71 .depicter-bullet-item{
	background-color:rgba(255, 255, 255, 0.5);
	border-radius:15px 15px 15px 15px ;
	width:15px;
	height:15px;
}
.depicter-1-element-71 .depicter-bullet-item.depicter-bullet-active{
	background-color:#ffffff;
}
.depicter-1-element-71 .depicter-bullets-wrapper{
	gap:5px;
	flex-direction:row;
}
.depicter-revert .depicter-1-element-72{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-11{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-9{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-8{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-7{
	padding:11px 25px 10px 27px;
	font-size:16px;
	text-align:center;
	color:#222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
	background-color:#06EE68;
	border-radius:33px;
}
.depicter-revert .depicter-1-element-7:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-6{
	font-size:18px;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	line-height:160%;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-5{
	font-size:105px;
	color:#FFF;
	font-family:"Urbanist";
	font-weight:400;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-4{
	font-size:105px;
	color:#06EE68;
	font-family:"Urbanist";
	font-weight:100;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-2{
	opacity:1;
	box-shadow:10px 3px 99px 0px rgba(0, 0, 0, 0.2);
	border-radius:50%;
}
.depicter-revert .depicter-1-element-2-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-1-element-3{
	background-color:#06EE68;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-image:linear-gradient(-67.6deg, #06EE68 0%, #000 74%);
}
.depicter-revert .depicter-1-element-43{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-44{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-42{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-41{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-40{
	padding:11px 25px 10px 27px;
	font-size:16px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
	background-color:#C038E7;
	border-radius:33px;
}
.depicter-revert .depicter-1-element-40:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-39{
	font-size:18px;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	line-height:160%;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-38{
	font-size:105px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-37{
	font-size:105px;
	color:#c038e7;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-45{
	box-shadow:10px 3px 99px 0px rgba(0, 0, 0, 0.2);
	transform:scaleX(1) scaleY(1);
	border-radius:50%;
}
.depicter-revert .depicter-1-element-36{
	transform:scaleX(1) scaleY(1);
	background-color:#7834E4;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-34 .depicter-section-background{
	background-image:linear-gradient(-111.1deg, #7834E4 0%, #000 100%);
}
.depicter-revert .depicter-1-element-55{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-58{
	border-radius:50%;
}
.depicter-revert .depicter-1-element-56{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-54{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-53{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-52{
	padding:11px 25px 10px 27px;
	font-size:16px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
	background-color:#67FDB1;
	border-radius:33px;
}
.depicter-revert .depicter-1-element-52:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-51{
	font-size:18px;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	line-height:160%;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-50{
	font-size:105px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-49{
	font-size:105px;
	color:#67fdb1;
	font-family:"Urbanist";
	font-weight:600;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-48{
	transform:scaleX(1) scaleY(1);
	background-color:#222C4B;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-47 .depicter-section-background{
	background-image:linear-gradient(90deg, #000 0%, #222C4B 100%);
}
.depicter-revert .depicter-1-element-99{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-101{
	transform:scaleX(1) scaleY(1);
	border-radius:50%;
}
.depicter-revert .depicter-1-element-100{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-98{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-97{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-96{
	padding:11px 25px 10px 27px;
	font-size:16px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
	background-color:#67FDB1;
	border-radius:33px;
}
.depicter-revert .depicter-1-element-96:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-95{
	font-size:18px;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	line-height:160%;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-94{
	font-size:105px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
	background-color:transparent;
}
.depicter-revert .depicter-1-element-93{
	font-size:105px;
	color:#67fdb1;
	font-family:"Urbanist";
	font-weight:600;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-92{
	transform:scaleX(1) scaleY(1);
	background-color:#2B8288;
	border-radius:50%;
}
.depicter-revert .depicter-1-section-91 .depicter-section-background{
	background-image:linear-gradient(62.9deg, #000 0%, #2B8288 98%);
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-8{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-7{
	font-size:14px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-6{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-5{
	font-size:72px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-4{
	font-size:72px;
	color:#f39202;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-2{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-3{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-41{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-40{
	font-size:14px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-39{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-38{
	font-size:72px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-37{
	font-size:72px;
	color:#c038e7;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-36{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-53{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-52{
	font-size:14px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-51{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-50{
	font-size:72px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-49{
	font-size:72px;
	color:#46ffb1;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-48{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-97{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-96{
	font-size:14px;
	text-align:center;
	color:#222222;
	font-family:"Archivo";
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:3px;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-95{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-94{
	font-size:72px;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-93{
	font-size:72px;
	color:#46ffb1;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-92{
	transform:scaleX(1) scaleY(1);
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-72{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-11{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-9{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-8{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-7{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-6{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-5{
	font-size:45px;
	text-align:center;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-4{
	font-size:45px;
	color:#f39202;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-2{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-3{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-43{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-44{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-42{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-41{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-40{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-39{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-38{
	font-size:45px;
	text-align:center;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-37{
	font-size:45px;
	color:#c038e7;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-36{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-55{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-56{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-54{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-53{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-52{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-51{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-50{
	font-size:45px;
	text-align:center;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-49{
	font-size:45px;
	text-align:center;
	color:#46ffb1;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-48{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-99{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-100{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-98{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-97{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-96{
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-95{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Archivo";
	font-weight:300;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-94{
	font-size:45px;
	text-align:center;
	color:#ffffff;
	font-family:"Urbanist";
	font-weight:400;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-93{
	font-size:45px;
	text-align:center;
	color:#46ffb1;
	font-family:"Urbanist";
	font-weight:600;
	transform:scaleX(1) scaleY(1);
}
.depicter-revert .depicter-1-element-92{
	transform:scaleX(1) scaleY(1);
}

}
